# Bytecode / caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
venv/
.env
.env.* 
.venv/
pip-wheel-metadata/
build/
dist/

# IDEs / editors
.vscode/
.idea/

# Logs
*.log

# Node
node_modules/

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Git metadata
.git

scanner.out

nija.log.*
