version: "3.8"
services:
  nija:
    build: .
    ports:
      - "5000:5000"
    environment:
      - CDP_API_KEY=${CDP_API_KEY}
      # It's recommended to mount the PEM file; use CDP_API_SECRET_FILE to point to it.
      - CDP_API_SECRET_FILE=/run/secrets/cdp_api_secret.pem
    volumes:
      - ./:/app:rw
    secrets:
      - cdp_api_secret

secrets:
  cdp_api_secret:
    file: ./secrets/cdp_api_secret.pem
