version: "3.8"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      # do NOT set GITHUB_PAT here for web
  bot:
    build:
      context: .
      dockerfile: Dockerfile.bot
    environment:
      - GITHUB_PAT=${GITHUB_PAT}
      - COINBASE_API_KEY=${COINBASE_API_KEY}
      - COINBASE_API_SECRET=${COINBASE_API_SECRET}
      - COINBASE_API_PASSPHRASE=${COINBASE_API_PASSPHRASE}
      - COINBASE_ACCOUNT_ID=${COINBASE_ACCOUNT_ID}
