apiVersion: v1
kind: Service
metadata:
  name: nija-stable
  namespace: nija
  labels:
    app: nija
    version: stable
spec:
  selector:
    app: nija
    version: stable
  ports:
  - name: http
    port: 80
    targetPort: 5000
    protocol: TCP
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: nija-canary
  namespace: nija
  labels:
    app: nija
    version: canary
spec:
  selector:
    app: nija
    version: canary
  ports:
  - name: http
    port: 80
    targetPort: 5000
    protocol: TCP
  type: ClusterIP
---
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: nija-traffic-split
  namespace: nija
spec:
  hosts:
  - nija.svc.cluster.local
  http:
  - match:
    - headers:
        x-canary-test:
          exact: "true"
    route:
    - destination:
        host: nija-canary
        port:
          number: 80
      weight: 100
  - route:
    - destination:
        host: nija-stable
        port:
          number: 80
      weight: $((100 - ${CANARY_PERCENTAGE:-10}))
    - destination:
        host: nija-canary
        port:
          number: 80
      weight: ${CANARY_PERCENTAGE:-10}
